:root {
  --background-color: #0d192c;
  --soft-blue: #8bacd9;
  --white: #fff;
  --cyan-hover: #00fff8;
  --dark-blue-card: #15263f;
  --dar-blue-line: #2e405a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  font-size: 1.125rem;
  display: grid;
  place-content: center;
  color: var(--soft-blue);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

.main-container {
  background-color: var(--dark-blue-card);
  max-width: 23rem;
  border-radius: 15px;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/*main image*/

.main-image {
  width: 100%;
  border-radius: 10px;
}

/*title and description section*/

.NFT-name {
  color: var(--white);
  font-weight: 600;
  font-size: 1.375rem;
}

.NFT-description {
  line-height: 1.625rem;
}

/*price section*/

.price-and-time-section {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.price {
  font-weight: 600;
  color: var(--cyan-hover);
}

.time-left {
  font-weight: 400;
}

.price,
.time-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
